@media screen and (max-width: 375px) {
  .bg-img {
    top: 0;

    .img-mobile {
      display: block;
    }
    .img-desktop {
      display: none;
    }
  }
  .container {
    margin: 50px auto;
  }
}